In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/Korisnik/Downloads/Global inflation/WLD_RTFP_country_2023-10-02.csv')

In [7]:
print(df)

      Open  High   Low  Close  Inflation      country ISO3        date
0     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-01-01
1     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-02-01
2     0.54  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-03-01
3     0.53  0.55  0.53   0.55        NaN  Afghanistan  AFG  2007-04-01
4     0.56  0.57  0.56   0.57        NaN  Afghanistan  AFG  2007-05-01
...    ...   ...   ...    ...        ...          ...  ...         ...
4793  2.74  2.78  2.70   2.75      -0.28  Yemen, Rep.  YEM  2023-06-01
4794  2.79  2.83  2.75   2.81      -1.85  Yemen, Rep.  YEM  2023-07-01
4795  2.85  2.89  2.81   2.83      -3.17  Yemen, Rep.  YEM  2023-08-01
4796  2.86  2.97  2.82   2.97       1.68  Yemen, Rep.  YEM  2023-09-01
4797  3.06  3.11  2.98   2.98       3.76  Yemen, Rep.  YEM  2023-10-01

[4798 rows x 8 columns]

In [9]:
df.head()

   Open  High   Low  Close  Inflation      country ISO3        date
0  0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-01-01
1  0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-02-01
2  0.54  0.54  0.53   0.53        NaN  Afghanistan  AFG  2007-03-01
3  0.53  0.55  0.53   0.55        NaN  Afghanistan  AFG  2007-04-01
4  0.56  0.57  0.56   0.57        NaN  Afghanistan  AFG  2007-05-01

In [79]:
df_cleaned = df.dropna(how='any') # Uklanja sve redove iz DataFrame-a 'df' koji sadrže barem jednu NaN (nedostajuću) vrijednost

In [45]:
print(df_cleaned)

      Open  High   Low  Close  Inflation      country ISO3        date
12    0.74  0.75  0.73   0.75      41.18  Afghanistan  AFG  2008-01-01
13    0.78  0.79  0.77   0.77      44.45  Afghanistan  AFG  2008-02-01
14    0.79  0.82  0.78   0.82      53.62  Afghanistan  AFG  2008-03-01
15    0.85  0.92  0.84   0.92      66.52  Afghanistan  AFG  2008-04-01
16    0.96  1.02  0.94   1.02      77.51  Afghanistan  AFG  2008-05-01
...    ...   ...   ...    ...        ...          ...  ...         ...
4793  2.74  2.78  2.70   2.75      -0.28  Yemen, Rep.  YEM  2023-06-01
4794  2.79  2.83  2.75   2.81      -1.85  Yemen, Rep.  YEM  2023-07-01
4795  2.85  2.89  2.81   2.83      -3.17  Yemen, Rep.  YEM  2023-08-01
4796  2.86  2.97  2.82   2.97       1.68  Yemen, Rep.  YEM  2023-09-01
4797  3.06  3.11  2.98   2.98       3.76  Yemen, Rep.  YEM  2023-10-01

[4434 rows x 8 columns]

In [47]:
df_cleaned.columns = ['otvorena_cijena','najvisa_cijena','najniza_cijena','zatvorena_cijena','inflacija','drzava','kod','datum']

In [49]:
print(df_cleaned)

      otvorena_cijena  najvisa_cijena  najniza_cijena  zatvorena_cijena  \
12               0.74            0.75            0.73              0.75
13               0.78            0.79            0.77              0.77
14               0.79            0.82            0.78              0.82
15               0.85            0.92            0.84              0.92
16               0.96            1.02            0.94              1.02
...               ...             ...             ...               ...
4793             2.74            2.78            2.70              2.75
4794             2.79            2.83            2.75              2.81
4795             2.85            2.89            2.81              2.83
4796             2.86            2.97            2.82              2.97
4797             3.06            3.11            2.98              2.98

      inflacija       drzava  kod       datum
12        41.18  Afghanistan  AFG  2008-01-01
13        44.45  Afghanistan  AFG  2008-02-01
14        53.62  Afghanistan  AFG  2008-03-01
15        66.52  Afghanistan  AFG  2008-04-01
16        77.51  Afghanistan  AFG  2008-05-01
...         ...          ...  ...         ...
4793      -0.28  Yemen, Rep.  YEM  2023-06-01
4794      -1.85  Yemen, Rep.  YEM  2023-07-01
4795      -3.17  Yemen, Rep.  YEM  2023-08-01
4796       1.68  Yemen, Rep.  YEM  2023-09-01
4797       3.76  Yemen, Rep.  YEM  2023-10-01

[4434 rows x 8 columns]

In [51]:
df_cleaned['pozitivna_inflacija'] = df_cleaned['inflacija'].apply(lambda x: 'da' if x > 0 else 'ne') # Dodaje novi stupac 'pozitivna_inflacija' koji sadrži 'da' ako je vrijednost u stupcu 'inflacija' veća od 0, inače 'ne'

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4484\1901142309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['pozitivna_inflacija'] = df_cleaned['inflacija'].apply(lambda x: 'da' if x > 0 else 'ne')

In [53]:
print(df_cleaned) #Ispisuje cijeli sadržaj DataFrame-a 'df_cleaned' u konzolu

      otvorena_cijena  najvisa_cijena  najniza_cijena  zatvorena_cijena  \
12               0.74            0.75            0.73              0.75
13               0.78            0.79            0.77              0.77
14               0.79            0.82            0.78              0.82
15               0.85            0.92            0.84              0.92
16               0.96            1.02            0.94              1.02
...               ...             ...             ...               ...
4793             2.74            2.78            2.70              2.75
4794             2.79            2.83            2.75              2.81
4795             2.85            2.89            2.81              2.83
4796             2.86            2.97            2.82              2.97
4797             3.06            3.11            2.98              2.98

      inflacija       drzava  kod       datum pozitivna_inflacija
12        41.18  Afghanistan  AFG  2008-01-01                  da
13        44.45  Afghanistan  AFG  2008-02-01                  da
14        53.62  Afghanistan  AFG  2008-03-01                  da
15        66.52  Afghanistan  AFG  2008-04-01                  da
16        77.51  Afghanistan  AFG  2008-05-01                  da
...         ...          ...  ...         ...                 ...
4793      -0.28  Yemen, Rep.  YEM  2023-06-01                  ne
4794      -1.85  Yemen, Rep.  YEM  2023-07-01                  ne
4795      -3.17  Yemen, Rep.  YEM  2023-08-01                  ne
4796       1.68  Yemen, Rep.  YEM  2023-09-01                  da
4797       3.76  Yemen, Rep.  YEM  2023-10-01                  da

[4434 rows x 9 columns]

In [55]:
df_cleaned.info() # Prikazuje sažetu informaciju o DataFrame-u 'df_cleaned', uključujući broj ne-null vrijednosti i tipove podataka

<class 'pandas.core.frame.DataFrame'>
Index: 4434 entries, 12 to 4797
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   otvorena_cijena      4434 non-null   float64
 1   najvisa_cijena       4434 non-null   float64
 2   najniza_cijena       4434 non-null   float64
 3   zatvorena_cijena     4434 non-null   float64
 4   inflacija            4434 non-null   float64
 5   drzava               4434 non-null   object
 6   kod                  4434 non-null   object
 7   datum                4434 non-null   object
 8   pozitivna_inflacija  4434 non-null   object
dtypes: float64(5), object(4)
memory usage: 346.4+ KB

In [57]:
df_cleaned['datum'] = pd.to_datetime(df_cleaned['datum'], format= '%Y-%m-%d') # Pretvara vrijednosti u stupcu 'datum' u datetime objekte koristeći format 'yyyy-mm-dd'

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4484\561804195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['datum'] = pd.to_datetime(df_cleaned['datum'], format= '%Y-%m-%d')

In [59]:
print(df_cleaned) # Ispisuje cijeli sadržaj DataFrame-a 'df_cleaned' u konzolu

      otvorena_cijena  najvisa_cijena  najniza_cijena  zatvorena_cijena  \
12               0.74            0.75            0.73              0.75
13               0.78            0.79            0.77              0.77
14               0.79            0.82            0.78              0.82
15               0.85            0.92            0.84              0.92
16               0.96            1.02            0.94              1.02
...               ...             ...             ...               ...
4793             2.74            2.78            2.70              2.75
4794             2.79            2.83            2.75              2.81
4795             2.85            2.89            2.81              2.83
4796             2.86            2.97            2.82              2.97
4797             3.06            3.11            2.98              2.98

      inflacija       drzava  kod      datum pozitivna_inflacija
12        41.18  Afghanistan  AFG 2008-01-01                  da
13        44.45  Afghanistan  AFG 2008-02-01                  da
14        53.62  Afghanistan  AFG 2008-03-01                  da
15        66.52  Afghanistan  AFG 2008-04-01                  da
16        77.51  Afghanistan  AFG 2008-05-01                  da
...         ...          ...  ...        ...                 ...
4793      -0.28  Yemen, Rep.  YEM 2023-06-01                  ne
4794      -1.85  Yemen, Rep.  YEM 2023-07-01                  ne
4795      -3.17  Yemen, Rep.  YEM 2023-08-01                  ne
4796       1.68  Yemen, Rep.  YEM 2023-09-01                  da
4797       3.76  Yemen, Rep.  YEM 2023-10-01                  da

[4434 rows x 9 columns]

In [61]:
df_cleaned.info() # Prikazuje sažetu informaciju o DataFrame-u 'df_cleaned', uključujući broj ne-null vrijednosti i tipove podataka

<class 'pandas.core.frame.DataFrame'>
Index: 4434 entries, 12 to 4797
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   otvorena_cijena      4434 non-null   float64
 1   najvisa_cijena       4434 non-null   float64
 2   najniza_cijena       4434 non-null   float64
 3   zatvorena_cijena     4434 non-null   float64
 4   inflacija            4434 non-null   float64
 5   drzava               4434 non-null   object
 6   kod                  4434 non-null   object
 7   datum                4434 non-null   datetime64[ns]
 8   pozitivna_inflacija  4434 non-null   object
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 346.4+ KB

In [63]:
df_cleaned['datum'] = df_cleaned['datum'].dt.strftime('%d/%m/%Y') # Pretvara vrijednosti u stupcu 'datum' u format stringa 'dd/mm/yyyy'

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4484\1394134458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['datum'] = df_cleaned['datum'].dt.strftime('%d/%m/%Y')

In [65]:
df_cleaned.info() # Prikazuje sažetu informaciju o DataFrame-u 'df_cleaned', uključujući broj ne-null vrijednosti i tipove podataka

<class 'pandas.core.frame.DataFrame'>
Index: 4434 entries, 12 to 4797
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   otvorena_cijena      4434 non-null   float64
 1   najvisa_cijena       4434 non-null   float64
 2   najniza_cijena       4434 non-null   float64
 3   zatvorena_cijena     4434 non-null   float64
 4   inflacija            4434 non-null   float64
 5   drzava               4434 non-null   object
 6   kod                  4434 non-null   object
 7   datum                4434 non-null   object
 8   pozitivna_inflacija  4434 non-null   object
dtypes: float64(5), object(4)
memory usage: 346.4+ KB

In [67]:
print(df_cleaned) #Ispisuje cijeli sadržaj DataFrame-a 'df_cleaned' u konzolu

      otvorena_cijena  najvisa_cijena  najniza_cijena  zatvorena_cijena  \
12               0.74            0.75            0.73              0.75
13               0.78            0.79            0.77              0.77
14               0.79            0.82            0.78              0.82
15               0.85            0.92            0.84              0.92
16               0.96            1.02            0.94              1.02
...               ...             ...             ...               ...
4793             2.74            2.78            2.70              2.75
4794             2.79            2.83            2.75              2.81
4795             2.85            2.89            2.81              2.83
4796             2.86            2.97            2.82              2.97
4797             3.06            3.11            2.98              2.98

      inflacija       drzava  kod       datum pozitivna_inflacija
12        41.18  Afghanistan  AFG  01/01/2008                  da
13        44.45  Afghanistan  AFG  01/02/2008                  da
14        53.62  Afghanistan  AFG  01/03/2008                  da
15        66.52  Afghanistan  AFG  01/04/2008                  da
16        77.51  Afghanistan  AFG  01/05/2008                  da
...         ...          ...  ...         ...                 ...
4793      -0.28  Yemen, Rep.  YEM  01/06/2023                  ne
4794      -1.85  Yemen, Rep.  YEM  01/07/2023                  ne
4795      -3.17  Yemen, Rep.  YEM  01/08/2023                  ne
4796       1.68  Yemen, Rep.  YEM  01/09/2023                  da
4797       3.76  Yemen, Rep.  YEM  01/10/2023                  da

[4434 rows x 9 columns]

In [69]:
df_cleaned.drop(columns=['kod'], inplace=True) # Uklanja stupac 'kod' iz DataFrame-a 'df_cleaned' i trajno mijenja originalni DataFrame

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_4484\1895194325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop(columns=['kod'], inplace=True)

In [71]:
print(df_cleaned) # Ispisuje cijeli sadržaj DataFrame-a 'df_cleaned' u konzolu

      otvorena_cijena  najvisa_cijena  najniza_cijena  zatvorena_cijena  \
12               0.74            0.75            0.73              0.75
13               0.78            0.79            0.77              0.77
14               0.79            0.82            0.78              0.82
15               0.85            0.92            0.84              0.92
16               0.96            1.02            0.94              1.02
...               ...             ...             ...               ...
4793             2.74            2.78            2.70              2.75
4794             2.79            2.83            2.75              2.81
4795             2.85            2.89            2.81              2.83
4796             2.86            2.97            2.82              2.97
4797             3.06            3.11            2.98              2.98

      inflacija       drzava       datum pozitivna_inflacija
12        41.18  Afghanistan  01/01/2008                  da
13        44.45  Afghanistan  01/02/2008                  da
14        53.62  Afghanistan  01/03/2008                  da
15        66.52  Afghanistan  01/04/2008                  da
16        77.51  Afghanistan  01/05/2008                  da
...         ...          ...         ...                 ...
4793      -0.28  Yemen, Rep.  01/06/2023                  ne
4794      -1.85  Yemen, Rep.  01/07/2023                  ne
4795      -3.17  Yemen, Rep.  01/08/2023                  ne
4796       1.68  Yemen, Rep.  01/09/2023                  da
4797       3.76  Yemen, Rep.  01/10/2023                  da

[4434 rows x 8 columns]

In [73]:
df_cleaned.to_csv('C:/Users/Korisnik/Downloads/Global inflation/cleaned_data.csv', index=False) #Sprema DataFrame 'df_cleaned' u CSV datoteku 'cleaned_data.csv' bez spremanja indeksa

In [75]:
df2 = pd.read_csv('C:/Users/Korisnik/Downloads/Global inflation/cleaned_data.csv') # Učitava podatke iz CSV datoteke 'cleaned_data.csv' u DataFrame 'df2'

In [77]:
df2.head() # Prikazuje prvih 5 redova DataFrame-a 'df2'

,otvorena_cijena,najvisa_cijena,najniza_cijena,zatvorena_cijena,inflacija,drzava,datum,pozitivna_inflacija
0,0.74,0.75,0.73,0.75,41.18,Afghanistan,01/01/2008,da
1,0.78,0.79,0.77,0.77,44.45,Afghanistan,01/02/2008,da
2,0.79,0.82,0.78,0.82,53.62,Afghanistan,01/03/2008,da
3,0.85,0.92,0.84,0.92,66.52,Afghanistan,01/04/2008,da
4,0.96,1.02,0.94,1.02,77.51,Afghanistan,01/05/2008,da